<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="E:/SourceCode/Selenium-Java/JavaSeleniumFramework">
        <classes>
            <class name="com.bitnemo.testng.utils.GlobalSetup"></class>
            <class name="com.bitnemo.testng.testcase.MainPageTest">
                <methods>
                    <include name="goToSetting"/>
                    <include name="testUserMenu"/>
                </methods>
            </class>
            <class name="com.bitnemo.testng.testcase.ReportTest">
                <methods>
                    <include name="showReport"/>
                </methods>
            </class>
            <class name="com.bitnemo.testng.testcase.SettingTest">
                <methods>
                    <include name="goToSetting"/>
                    <include name="goToWOCSetting"/>
                </methods>
            </class>
            <class name="com.bitnemo.testng.testcase.WocReportTest">
                <methods>
                    <include name="showWOCReport"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>